---
title: "Day 1: Sign up"
stylesheets:
  - 1
---

<div class="signup">
  <div class="signup-box">
    <h1>Sign up</h1>
    <div class="oauth">
      <div class="facebook"><i class="fa fa-facebook-square"></i></div>
      <div class="google"><i class="fa fa-google"></i></div>
      <div class="github"><i class="fa fa-github"></i></div>
    </div>
    <div class="separator">
      <hr>
      <p>or</p>
      <hr>
    </div>
    <div class="email">
      <form action="" class="ui form">
        <div class="field"><input type="text" placeholder="email"></div>
        <div class="field"><input type="password" placeholder="password"></div>
        <input type="submit" value="Sign up" class="fluid ui button blue">
        <p class="agree-our-terms">By signing up you agree to our terms of service</p>
      </form>
    </div>
  </div>
</div>
