---
title: "Day 2: Credit Card"
stylesheets:
  - //cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css
  - 2
---

<div class="page-content">
  <div class="credit-card">
    <div class="front">
      <div class="background"></div>
      <div class="content">
        <div class="numbers">4503 5996 2737 0496</div>
        <div class="footer">
          <div class="valid-dates">
            <div>
              <div class="title">expires</div>
              <div>10/16 - 10/22</div>
            </div>
          </div>
          <div class="icon">
            <i class="pf pf-visa"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="back">
      <div class="cvv">
        <div class="title">CVV</div>
        <div class="value">000</div>
      </div>
    </div>
  </div>
</div>
