@import 'media';

.signup {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  h1 {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-align: center;
  }
}

.signup-box {
  padding: 1rem 0;
  width: 25%;

  @include breakpoint(mobile) {
    width: 90%;
  }

  .separator {
    display: flex;

    div,
    hr {
      flex: 0 0 33.3%;
    }

    hr {
      border: 1px solid gray40;
      margin: .75rem auto;
    }
  }

  .oauth {
    $facebook-bg: #3b5998;
    $google-bg: #dd4b39;
    $github-bg: #fafafa;
    $white: #fff;

    @mixin oauth-button($classname, $background-color, $color) {
      .#{$classname} {
        background-color: $background-color;
        color: $color;
        cursor: pointer;
      }

      .#{$classname}:hover {
        background-color: darken($background-color, 10%);
      }
    }

    @include oauth-button(facebook, $facebook-bg, $white);
    @include oauth-button(google, $google-bg, $white);
    @include oauth-button(github, $github-bg, gray20);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1rem;

    div {
      border-radius: .25rem;
      cursor: pointer;
      flex: 0 0 32%;
      padding: .5rem;
      text-align: center;
    }

    .fa {
      font-size: 1.25rem;
      margin: .25rem 0 0;
    }
  }

  .agree-our-terms {
    color: gray40;
    font-size: .75rem;
    text-align: center;
  }
}
