@import "media";

html {
  @include breakpoint(mobile) {
    font-size: 14px;
  }
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.credit-card {
  $border-radius: .8rem;
  $height-base: 53.98rem;
  $width-base: 85.60rem;

  position: relative;

  border: 1px solid #eee;
  border-radius: $border-radius;

  height: $height-base * .25;
  width: $width-base * .25;

  @include breakpoint(mobile) {
    height: $height-base * .25;
    width: $width-base * .25;
  }

  .background {
    position: absolute;
    z-index: -10;

    background-image: url(https://unsplash.it/856/539?image=903);
    background-size: cover;

    height: 100%;
    width: 100%;

    border-radius: $border-radius;
    filter: brightness(75%);
  }

  .content {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 1rem 1.5rem 1rem;

    z-index: 10;
    color: #fff;
  }

  .bank {
    flex: 0 0 50%;
    h1 {
      color: #fff;
      font-size: 1rem;
    }
  }

  .numbers {
    $letter-spacing: .35rem;

    flex: 0 0 20%;

    font-size: 1.2rem;
    letter-spacing: $letter-spacing;
    margin-right: -$letter-spacing;
    word-spacing: .1rem;
  }

  .footer {
    flex: 0 0 30%;

    display: flex;
    flex-wrap: wrap;
  }

  .valid-dates {
    flex: 0 0 50%;

    display: flex;
    align-items: flex-end;
    letter-spacing: .1rem;
  }

  .valid-dates .title {
    font-size: .6rem;
    text-transform: uppercase;
  }

  .icon {
    flex: 0 0 50%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    font-size: 2rem;
  }
}
