@import 'media';

$ratio: .25;
$width-base: 85.60rem;

html {
  @include breakpoint(mobile) {
    font-size: 14px;
  }
}

.page-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.ui.form {
  width: $width-base * $ratio;
}

.credit-card {
  $black: #333;
  $border-radius: .8rem;
  $height-base: 53.98rem;
  $lightgray: #eee;
  $purple: #800080;
  $white: #fff;

  height: $height-base * $ratio;
  margin: 0 auto 1rem;
  perspective: 1000px;
  position: relative;
  width: $width-base * $ratio;

  @include breakpoint(mobile) {
    height: $height-base * $ratio;
    width: $width-base * $ratio;
  }

  .flipper {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s;
  }

  &:hover .flipper {
    transform: rotateY(180deg);
  }

  .back,
  .front {
    backface-visibility: hidden;
    border: 1px solid $black;
    border-radius: $border-radius;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  .front {
    transform: rotateY(0deg);
    width: 100%;
    z-index: 2;

    .background {
      background-image: image-url('https://unsplash.it/856/593?image=903');
      background-size: cover;
      border-radius: $border-radius;
      filter: brightness(75%);
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -10;
    }

    .content {
      color: $white;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1rem 1.5rem;
      z-index: 10;
    }

    .footer {
      display: flex;
      flex: 0 0 30%;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .back {
    align-items: center;
    background-color: $lightgray;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
    width: 100%;

    .content {
      align-items: center;
      display: flex;
      flex: 0 0 70%;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      width: 100%;
    }

    .title {
      font-size: .5rem;
      letter-spacing: .1rem;
    }

    .mag-stripe {
      flex: 0 0 30%;
      padding: 5rem * $ratio 0 0;
      width: 100%;
    }

    .stripe {
      background-color: $black;
      height: 10.1rem * $ratio;
      width: 100%;
    }
  }

  .number {
    $letter-spacing: .225rem;

    align-items: flex-end;
    display: flex;
    flex: 0 0 70%;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.2rem;
    letter-spacing: $letter-spacing;
    margin-right: -$letter-spacing;
    word-spacing: .1rem;
  }

  .expire-on {
    align-items: flex-end;
    display: flex;
    letter-spacing: .1rem;

    .title {
      font-size: .6rem;
      text-transform: uppercase;
    }

    .value {
      font-family: 'Anonymous Pro', monospace;
    }
  }

  .payment-icon {
    align-items: flex-end;
    display: flex;
    font-size: 2rem;
    justify-content: flex-end;
  }

  .cvv {
    text-align: center;

    .title,
    .value {
      padding: .2rem;
    }

    .title {
      $letter-spacing: .1rem;
      $margin-right: .5rem - $letter-spacing;
      letter-spacing: $letter-spacing;
      line-height: 2;
    }

    .value {
      background: $white;
      border: 1px solid $lightgray;
      color: $black;
      padding: 0 .25rem;
    }
  }

  .card-holder {
    .title {
      margin: 0 0 .25rem;
      text-transform: uppercase;
    }

    .value {
      border: 1px solid $black;
      border-width: 0 0 1px;
      font-family: 'Dancing Script', serif;
      font-size: 2rem;
      padding: 0 0 .5rem;
      width: 10rem;
    }
  }
}
