@import 'media';

$link-blue: #add8e6;
$white: #fff;

.page-header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  .background-image {
    background-image: image-url('885.png');
    filter: brightness(50%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  h1,
  h2,
  .subheading {
    color: $white;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-family: 'Dancing Script', serif;
    font-size: 2.5rem;
    margin: 0 0 1rem;
  }

  h2 {
    font-size: .8rem;
  }

  .subheading {
    letter-spacing: .1rem;
    line-height: .5;
    margin: 0 0 2rem;
  }

  .accounts {
    font-size: 2rem;

    a {
      color: $white;
      margin: 0 .5rem;
    }

    a:hover {
      color: $link-blue;
    }
  }
}

.page-content {
  min-height: 100vh;
}

.ui-list {
  margin: 0 auto;
  padding: 4rem 0;
  width: 30rem;

  @include breakpoint(mobile) {
    margin: 0 1rem;
    padding: 2rem 0;
  }
}

.page-footer {
  padding: 1rem;

  p {
    text-align: center;
  }
}
