---
title: Daily UI
stylesheets:
  - index
---

<div class="page-header">
  <div>
    <h1>Daily UI</h1>
    <p class="subheading">Be a REAL fullstack</p>
    <p>Heng-Yi Wu</p>
  </div>
</div>

<div class="page-content">
  <div class="ui-list">
    <p><%= link_to "Day 1: Sign up", "days/1.html" %></p>
    <p><%= link_to "Day 2: Credit card", "days/2.html" %></p>
  </div>
</div>
